/* Monokai Style
map0=(  [foreground     ]='#F8F8F2'     [background     ]='#272822'
        [cursor         ]='#F8F8F0'     [selection      ]='#49483E'
        [pink           ]='#F92672'     [green          ]='#5cd053'
        [yellow         ]='#E6DB74'     [blue           ]='#66D9EF'
        [purple         ]='#AE81FF'     [orange         ]='#FD971F'
        [gray           ]='#75715E'                                     )
/*
    [blue   ]: #519FD8
    [red    ]: #AF2B12
    [green  ]: #A6E22E

    Dashboard: Blau 0066B4, Grün 48822A, orange EDA91B, rot C2382F
*/

/*
    Standardsize: 16px
    Größer: 1.3em
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Dosis:700);

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #000;
    height: 100%;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

a {
    color: #519FD8;
    text-decoration: none;
}

#site {
    min-height: 100%;
    position: relative;
}

#wrapper{
    width: 1024px;
    margin: auto;
}

#header{
    height: 5em;
}

#breadcrumb {
    float: left;
    color: #519FD8;
}

#userinfo {
    float: right;
    padding-top: 25px;
}

#userinfo p {
    margin: 0;
    text-align: right;
}

#content{
    background-color: white;
    height: 100%;
    padding-bottom: 70px;
}

#dashboard {
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
}

.linkbutton {
    background:none!important;
    border:none;
    padding:0!important;
    color: #519FD8;
}

.suche {
    height:20px; 
    width:220px; 
    padding: 5px 8px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.left {
    float: left;
}

.right {
    float: right;
}
.r10 {
    margin-right: 10px;
}

.l10 {
    margin-left: 10px !important;
}

.clear {
    clear:both;
}

.textright {
    text-align: right;
}

.buttonleiste {
    height: 3em;
}

.detailliste {
    text-align: left;
    border-collapse: collapse;
    width: 1000px;
}

.detailliste td {
    padding: 8px;
}

.detailliste .beschriftung {
    width:150px;
    padding:3px;
}

.detailliste tr:first-child, .detailliste tr:last-child {
    border-bottom:1px solid #777;
}

.detailliste h2 {
    margin: 0;
}

.liste {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.liste th {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    padding: 8px;
    border-bottom: 2px solid #777;
}

.liste td
{
    padding: 8px;
}

.farbigeZeile
{
    background: #F8F8F2; 
}

.info {
    background-color: #A6E22E;
    color: #fff;
    width: 1000px;
    margin: 10px 0px;
    padding-left: 12px;
    line-height: 1.8em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.error {
    background-color: #AF2B12;
    color: #fff;
    width: 1000px;
    margin: 10px 0px;
    padding-left: 12px;
    line-height: 1.8em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.dashboardauswahl {
    margin: 20px;

}

.dashboardauswahl img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.dashboardauswahl figcaption {
    text-align: center;
    font-family: 'Dosis';
    font-size: 0.9em;
}

.dashboardauswahl a {
    color: #000;
    text-decoration: none;
}

.dashboardauswahl a:hover{
    opacity: 0.8;
    color: #0066B4;
}



/*
************************** ALLE NEUEN CSS DEFINITIONEN == CSS VON CCR **************************
*/


/* ERROR MESSAGES */
.error-messages {
    color: red;
}

/* FOOTER */
#footer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-color: #519FD8;
    margin-top: 20px;
}

#footer-content {
    position: relative;
    width: 1024px;
    margin: auto;
    padding-top: 10px;
}

#footer p {
    color: #F8F8F2;
    margin: 0;
}

/* DASHBOARD REIHE VON AUSWAHLBLÖCKEN */
.row {
    height: 100%;
    text-align: left;
}

/* DASHBOARD AUSWAHL BLOCK */
.dashboard-block {
    display: inline-block;
}



/*
*Das CSS gilt jetzt für alle Akkordions, es ist aber auch für einzelne Divs anpassbar
*/

/*
* Border des aufgeklappten Contents
*/
 .ui-widget-content {
    border: none !important ;

}
/*
* Kleine Pfeile (Icon) entfernen
*NICHT LÖSCHEN
*/

 .ui-icon {
    width: 0px !important;
    height: 16px !important;
}

/*
*Margin ändert Abstand Zwischen den divs  (geht nicht hier?)
*/
 .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 50px !important;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
}


/*
*Diese Klasse ist für die Borders der Accordions UND die HintergrundFarbe des Acc
*NICHT LÖSCHEN
*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none !important ;
    background:none !important;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}

/*
*Hintergrundfarbe des gewählten SectionHeaders
*NICHT LÖSCHEN
*/
.ui-progressbar .ui-progressbar-overlay {
    background:none !important;
     /* background: url("images/animated-overlay.gif"); */
    height: 100%;
    filter: alpha(opacity=25);
    opacity: 0.25;
}

/*
*Hintergrundfarbe eines SectionHeaders welcher über den gerade gehovert wird
*NICHT LÖSCHEN
*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background:none !important;
    border: 1px solid #999999;
    background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}





